{%
  set classes = [
    dom_id ? 'js-view-dom-id-' ~ dom_id,
  ]
%}
<div{{ attributes.addClass(classes) }}>
  {{ title_prefix }}

  <section class="section m-none">
    <div class="container">
      <div class="row">
          <div class="col-md-12 center">
              <h2 class="mb-xs">
                <strong>
                {% if header %}
                  {{ header }}
                {% else %}
                  {{ label }}
                {% endif %}
                </strong>
              </h2>
          </div>
      </div>
      <div class="row mt-lg">
        {% block content %}
          {{ content }}
        {% endblock %}
      </div>

    </div>
  </section>
</div>
